class_libcurl.zip
scratch.txt
scratch.ahk
LibCurl.ahk
libcurl-x64.def
LibCurl_Examples_B_Instance.ahk
LibCurl_Examples_A_Global.ahk
example_1_httpget.htm
curl-8.6.0_1-win64-mingw.zip
dump.html
lib/curl.exe
.vscode/settings.json
.vscode/launch.json
download/google.html
download/google.png
download/lichess.zst
download/titsandasses.html
test - Copy.ahk
download/httpbin.json
download/postman.json
download/AdiIRC.rar
download/httpbin.header.txt
download/titsandasses.header.txt
class_libcurl.7z
AutoHotkey64.exe
download/httpbin-body.json
download/httpbin-header.txt
download/1httpbin-body.json
download/1httpbin-header.txt
download/b-head.txt
download/httpbin-head.txt
download/b-head.txt
download/httpbin-head.txt
download/b-body.json
.vscode
*.json
*.txt
*.html
*.zst
releases
lib/Aris
bin/vcpkg
bin/x64-windows
curl source
bin/bin.7z
build

release.ahk